@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --foreground-rgb-important: rgb(39 132 145);
  --background-start-rgb: rgb(230 239 241);
  --background-end-rgb: rgb(209 223 233);
  --foreground-section-title-rgb: rgb(46 141 109);
  --foreground-decoration-rgb: rgb(39 135 102);
  --foreground-golden-rgb: rgb(196 162 10);
  --darker-foreground-golden-rgb: rgb(97 108 12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    /*cyan*/
    --foreground-rgb-important: rgb(0, 255, 255);
    --background-start-rgb: rgba(0, 10, 21, 0.9);
    --background-end-rgb: rgb(0, 0, 0);
    --foreground-section-title-rgb: rgb(127 255 212);
    /*mediumaquamarine*/
    --foreground-decoration-rgb: rgb(102 205 170);
    --foreground-golden-rgb: rgb(178, 192, 71);
  }
}